<!DOCTYPE html>
<html th:replace="~{layout :: maincontent(~{::section})}">

<head>
	<title>flashcard</title>
</head>

<body>
	<section>
		<h3>Questionnaire</h3>
        <form th:action="@{/questionnaires}" th:object="${questionnaire}" method="post">	<!--#1-->
            <div class="form-group row">
                <label class="col-md-2" for="title">Title:</label>
                <div class="col-md-10">
                    <!-- th:field evaluiert zu den Input-Element-Attributen id, name, value -->
                    <input class="form-control" type="text" th:field="*{title}" autofocus="autofocus" />	<!--#2-->
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-2" for="description">Description:</label>
                <div class="col-md-10">
                    <input class="form-control" type="text" th:field="*{description}" />
                </div>
            </div>
            <div class="form-group row">
                <a class="btn btn-default" th:href="@{/questionnaires}">Cancel</a>	<!--#3-->
                <button type="submit" class="btn btn-primary">Save</button>	<!--#4-->
            </div>
        </form>
	</section>
</body>

</html>